.todos {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.elem {
    /* border: green solid 1px; */
    margin-top: 1%;
    display:table;
    transition: 2s;
}

.elem:hover {
    background-color: black;
}

.form {
    display: inline-block;
}

.addButton {
    margin-left: 1em;
    padding: 0.75em 1em;
    background-color: greenyellow;
}

.editLink {
    display: inline-flex;
    padding: 0.15em 0.7em;
    margin-left: 1em;
    cursor: pointer;
    background-color: purple; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    transition: 0.5s;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.editLink:hover {
    box-shadow: 0.25em 0.188em 0.5em rgb(206, 4, 206), 0.25em 0.188em 0.5em rgb(206, 4, 206);
}


.form-control {
    /* border: red solid 1px; */
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1;
    display: inline-block;
    grid-template-columns: 1.15em auto;
    gap: 0.5em;
    appearance: none;
    margin-top: 0.8em;
    width: 1.5em;
}

.form-controlTitle {
    /* border: red solid 1px; */
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    display: flexbox;
    grid-template-columns: 1.15em auto;
    gap: 0.5em;
    appearance: none;
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.form-controlDelete {
    /* border: red solid 1px; */
    font-family: system-ui, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.1;
    display: block;
    grid-template-columns: 1.15em auto;
    gap: 0em;
    appearance: none;
    margin-top: 0.8em;
    width:fit-content;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    /* border: red solid 1px; */
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: purple;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    /* border: red solid 1px; */
    transform: scale(1);
}

.deleteButton {
    display: inline-flex;
    padding: 0.15em 0.7em;
    margin-left: 0.2em;
    cursor: pointer;
    background-color: red; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.5em;   
    transition: 0.5s;
}

.deleteButton:hover{
    box-shadow: 0.25em 0.188em 0.5em rgb(206, 4, 206), 0.25em 0.188em 0.5em rgb(206, 4, 206);
}

.editButton {
    display: flex;
    padding: 0.15em 0.7em;
    margin: 2.1em;
    cursor: pointer;
    background-color: purple; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 3em;   
    transition: 0.5s;
}

.editButton:hover{
    box-shadow: 0.25em 0.188em 0.5em rgb(206, 4, 206), 0.25em 0.188em 0.5em rgb(206, 4, 206);
}

.cancelButton {
    display: flex;
    padding: 0.15em 0.7em;
    margin:1.45em;
    cursor: pointer;
    background-color: purple; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 3em;   
    transition: 0.5s;
}

.cancelButton:hover{
    box-shadow: 0.25em 0.188em 0.5em rgb(206, 4, 206), 0.25em 0.188em 0.5em rgb(206, 4, 206);
}

.formToEdit {
    padding: 0.5em 1em;
    font-size: 1.5em;
}

.formToAdd {
    padding: 0.5em 1em;
    font-size: 1em;
}

.formToAdd[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }