.todos {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.elem {
    /* border: green solid 1px; */
    margin-top: 1%;
    display:table;
    transition: 2s;
}

.elem:hover {
    background-color: black;
}

.form {
    display: inline-block;
}

.addButton {
    margin-left: 1em;
}

.editButton {
    gap: 0.5em;
    
}


.form-control {
    border: red solid 1px;
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    display: inline-block;
    grid-template-columns: 1.15em auto;
    gap: 0.5em;
    appearance: none;
    margin-top: 0.8em;
    width: 1.5em;
}

.form-controlTitle {
    border: red solid 1px;
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    display: flexbox;
    grid-template-columns: 1.15em auto;
    gap: 0.5em;
    appearance: none;
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.form-controlDelete {
    border: red solid 1px;
    font-family: system-ui, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    display: block;
    grid-template-columns: 1.15em auto;
    gap: 0.5em;
    appearance: none;
    margin-top: 0.8em;
    width:fit-content;
}
.inputCheckbox {
    border: red solid 1px
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    border: red solid 1px;
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: purple;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    border: red solid 1px;
    transform: scale(1);
}

.deleteButton {
    display: flex;
    cursor: pointer;    
}